version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    ports: ["27017:27017"]
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports: ["5000:5000"]
    environment:
      - MONGO_URI=mongodb://mongo:27017/recruitment_dev
      - JWT_SECRET=devsecret
      - UPLOAD_DIR=uploads
      - FRONTEND_URL=http://localhost:3000
    depends_on:
      - mongo
    volumes:
      - ./backend/src/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend

volumes:
  mongo-data:
